**/target/
.cargo
.local
**/*.rs.bk
**/*~
**/.vscode
**/__pycache__
**/history.txt
**/release
**/target
.*.sw*
.DS_Store
.git
.dockerignore
.gitignore
.idea
.stack-work
Cargo.lock
Dockerfile
node_modules
package-lock.json
release
shell.nix
stack.yaml.lock
