# Copyright (c) 2022 Espresso Systems (espressosys.com)
# This file is part of the Espresso library.
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
# You should have received a copy of the GNU General Public License along with this program. If not,
# see <https://www.gnu.org/licenses/>.

name: Build

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, X64]
    container:
      image: ghcr.io/espressosystems/devops-rust:1.59
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        name: Cancel Outdated Builds
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
        name: Checkout Repository

      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com".insteadOf git://github.com
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com".insteadOf ssh://git@github.com

      - uses: Swatinem/rust-cache@v1
        name: Enable Rust Caching

      - name: Format Check
        run: cargo fmt -- --check

      - uses: actions-rs/clippy-check@v1
        name: Clippy
        with:
          token: ${{ github.token }}
          args: --workspace -- -D warnings

      - name: Viewing
        run: cargo audit --ignore RUSTSEC-2020-0159 --ignore RUSTSEC-2020-0071 --ignore RUSTSEC-2022-0006

      - name: Build
        run: |
          cargo build --workspace --release

      - name: Test
        run: |
          cargo test --workspace --release --no-run
          cargo test --workspace --release --verbose -- -Zunstable-options --report-time --test-threads 2
        timeout-minutes: 30

      - name: Upload address book artifact
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-unknown-linux-gnu-address-book
          path: target/release/address-book

      - name: Upload faucet artifact
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-unknown-linux-gnu-faucet
          path: target/release/faucet

      - name: Upload validator artifact
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-unknown-linux-gnu-validator
          path: target/release/espresso-validator

      - name: Upload random-wallet artifact
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-unknown-linux-gnu-random-wallet
          path: target/release/random-wallet
