# Copyright (c) 2022 Espresso Systems (espressosys.com)
# This file is part of the Espresso library.
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
# You should have received a copy of the GNU General Public License along with this program. If not,
# see <https://www.gnu.org/licenses/>.

name: Static Build

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  pull_request:
    branches:
      - main
      - release-*
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  static-build:
    runs-on: [self-hosted, X64]
    container:
      image: ghcr.io/espressosystems/nix:main
      volumes:
        - github_nix:/nix
    steps:
      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf git://github.com/
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf ssh://git@github.com/

      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: cachix/cachix-action@v10
        with:
          name: espresso-systems-private
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Cache cargo
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git
            target
          key: espresso-static-v1-${{ hashFiles('Cargo.lock') }}

      - name: Fix Git Security Issue
        run: git config --global --add safe.directory "$PWD"

      # - name: Quick Test Static Build
      #   timeout-minutes: 60
      #   run: |
      #     ulimit -n 4096
      #     nix develop .#staticShell --option sandbox relaxed -c cargo run --profile=release-lto --bin multi_machine_automation -- --num-nodes 7 --num-txn 3 --verbose --reset-store-state

      - name: Compile all executables
        timeout-minutes: 60
        run: |
          nix develop .#staticShell --option sandbox relaxed -c cargo build --profile=release-lto

      # prune all untagged artifacts besides the most recent 5.
      # BREAKING BUILD AS OF 2022-07-01
      #- uses: c-hive/gha-remove-artifacts@v1
      #  if: ${{ github.event_name != 'pull_request' }}
      #  name: Garbage collect old artifacts
      #  with:
      #    skip-tags: true
      #    skip-recent: 5
      #    GITHUB_TOKEN: ${{ secrets.ORG_GITHUB_PAT }}
      #    age: '0 day'

      - name: Upload address book artifact
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-unknown-linux-musl-services
          path: |
            target/x86_64-unknown-linux-musl/release-lto/address-book
            target/x86_64-unknown-linux-musl/release-lto/espresso-validator
            target/x86_64-unknown-linux-musl/release-lto/faucet
            target/x86_64-unknown-linux-musl/release-lto/random-wallet

  static-dockers:
    runs-on: ubuntu-latest
    needs: static-build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Download address-book executable
        uses: actions/download-artifact@v3
        with:
          name: x86_64-unknown-linux-musl-services
          path: target/x86_64-unknown-linux-musl/release/

      - name: Setup Docker BuildKit (buildx)
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Repo
        uses: docker/login-action@v2
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate address-book docker metadata
        uses: docker/metadata-action@v3
        id: ab
        with:
          images: ghcr.io/espressosystems/espresso/address-book

      - name: Generate faucet docker metadata
        uses: docker/metadata-action@v3
        id: faucet
        with:
          images: ghcr.io/espressosystems/espresso/faucet

      - name: Generate validator docker metadata
        uses: docker/metadata-action@v3
        id: validator
        with:
          images: ghcr.io/espressosystems/espresso/validator

      - name: Generate random wallet docker metadata
        uses: docker/metadata-action@v3
        id: random-wallet
        with:
          images: ghcr.io/espressosystems/espresso/random-wallet

      - name: Build and push address book docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./docker/address-book.Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.ab.outputs.tags }}
          labels: ${{ steps.ab.outputs.labels }}

      - name: Build and push faucet docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./docker/faucet.Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.faucet.outputs.tags }}
          labels: ${{ steps.faucet.outputs.labels }}

      - name: Build and push validator docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./docker/validator.Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.validator.outputs.tags }}
          labels: ${{ steps.validator.outputs.labels }}

      - name: Build and push random wallet docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./docker/random-wallet.Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.random-wallet.outputs.tags }}
          labels: ${{ steps.random-wallet.outputs.labels }}
