name: Nix

on:
  push:
    branches:
      - main
      - release-*
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, X64]
    container:
      image: ghcr.io/espressosystems/nix:2.8.1
      volumes:
        - github_nix_281:/nix
    timeout-minutes: 30
    steps:
      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf git://github.com/
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf ssh://git@github.com/

      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: cachix/cachix-action@v10
        with:
          name: espresso-systems-private
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: "Sanity Check: nix environment loads"
        run: nix-shell --run "echo Success"

      - name: "Sanity Check: nix environment builds all targets"
        run: nix-shell --run "cargo build --all-targets --release --workspace"
