# Copyright (c) 2022 Espresso Systems (espressosys.com)
# This file is part of the Espresso library.

name: Nix

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v22

      - name: "Sanity Check: nix environment loads"
        run: nix-shell --run "echo Success"

      - name: "Sanity Check: nix environment builds all targets"
        run: nix-shell --run "cargo check --workspace --all-targets"
