# Copyright (c) 2022 Espresso Systems (espressosys.com)
# This file is part of the Espresso library.

name: Generate Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  doc-generation:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        name: Cancel Outdated Builds
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
        name: Checkout Repository

      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.64"

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching
        with:
          cache-on-failure: true

      - name: Generate docs
        run: |
          cargo doc --no-deps --workspace --document-private-items
          cp -R target/doc public
          echo '<meta http-equiv="refresh" content="0; url=espresso_core">' > public/index.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: espresso.docs.espressosys.com
